@import "../../../styles/constants/index.scss";

.title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $base-strong;
}

.body, .body-bold {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.body-bold, .h2, .h1 {
  font-weight: bold;
}

.h2, .h1 {
  line-height: 3.2rem;
}

.h2 {
  font-size: 2.4rem;
}

.h1 {
  font-size: 3.2rem;
}
