@import '../../../../../styles/constants/index.scss';

.right-content {
  margin-left: 4.25 * $space;

  @media(max-width: $max-width-medium) {
    align-self: center;
    margin: 4.25 * $space 0 0 0;
  }

  @media(max-width: $max-width-small) {
    margin-top: 1.25 * $space;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  @media(max-width: $max-width-small) {
    height: 15 * $space;
    flex-direction: column;
  }
}