@import "../../../styles/constants/index.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 32.5 * $space;
  min-width: 21.75 * $width-unit;
  padding: 2.5 * $space;
  background: $accent;
  border: $border solid $accent;
  box-sizing: border-box;
  box-shadow: 0 .4rem .4rem rgba(4, 5, 73, 0.25), 1.4rem 1.4rem 2rem rgba(5, 6, 114, 0.2);
  border-radius: $border-radius;

  -webkit-user-select: none;
  user-select: none;

  @media(max-width: $max-width-small) {
    border: 2px solid $base-strong;
  }
}

.text {
  color: $base-weak;
}

.icon {
  align-self: center;
}

.img {
  width: 16rem;
}

.small {
  width: 12rem;
}

.temp {
  align-self: flex-end;
}