@import "../../../styles/constants/index.scss";

.footer-content {
  align-self: center;
  flex: 0 0 auto;
  width: max-content;
  padding: $padding-md 0;
}

.text {
  color: $base-weak;
  opacity: 0.6;
  line-height: 2.25 * $space;
}