@import "../../../styles/constants/index.scss";

.header-content {
  align-self: center;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  height: 26.875 * $height-unit;
  width: 91.875 * $width-unit;
  margin-top: 8.125 * $space;
  flex-direction: column;


  @media(max-width: $max-width-small) {
    margin: $margin-lg 0 0 0;
    width: 29.375 * $width-unit;
    height: 8.125 * $height-unit;
  }
}

.header-title {
  position: absolute;
  font-size: 10.2rem;
  line-height: 120%;
  color: $base-weak;

  @media(max-width: $max-width-small) {
    font-size: 3.2rem;
    line-height: 4 * $space;
  }
}

.first {
  align-self: flex-start;
}

.second {
  align-self: flex-end;
  bottom: 0;
}