@import "../../../styles/constants/index.scss";

.select, .date-picker {
  width: 31.5 * $width-unit;
  height: 6 * $height-unit;
  background: rgba($secondary, 0.06);
  border: $border solid rgba($secondary, 0.2);
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: $padding-sm $padding-md;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $base-strong;

  &:hover {
    border: $border solid $secondary;
  }

  &:active, &:focus {
    outline: none;
    border: $border solid $accent;
  }
}
