@import "../../../styles/constants/index.scss";

.rectangle {
  display: flex;
  flex-direction: column;
  min-width: 68 * $space;
  min-height: 56 * $height-unit;
  height: min-content;
  background: $base-weak;
  box-shadow: 0px .4rem .4rem rgba(4, 5, 73, 0.25), 1.4rem 1.4rem 2rem rgba(5, 6, 114, 0.2);
  border-radius: $border-radius;
  padding: 6.25 * $space 7.25 * $space;

  @media(max-width: $max-width-small) {
    min-width: 40%;
    width: 31.25 * $width-unit;
    padding: $padding-xl $padding-lg;
    min-height: 45 * $height-unit;
  }
}

.header {
  margin-bottom: $margin-xl;

  @media(max-width: $max-width-small) {
    margin-bottom: $padding-lg;
  }
}

.content {
  height: 100%;
}