$max-width-small: 800px;
$max-width-medium: 1600px;

$space: 0.8rem;
$height-unit: 0.8rem;
$width-unit: 0.8rem;

$padding-xl: $space * 4;
$padding-lg: $space * 3;
$padding-md: $space * 2;
$padding-sm: $space * 1.5;
$padding-xs: $space;
$padding-xxs: $space / 2;

$margin-xl: $space * 4;
$margin-lg: $space * 3;
$margin-md: $space * 2;
$margin-sm: $space * 1.5;
$margin-xs: $space;
$margin-xss: $space / 2;

$border-radius: .8rem;

$border: .2rem;