@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file) format('truetype');
    font-display: fallback;
  }
}

@include font('Ubuntu', '../fonts/UBUNTU-BOLD.TTF');
@include font('Ubuntu', '../fonts/UBUNTU-BOLDITALIC.TTF');
@include font('Ubuntu', '../fonts/UBUNTU-ITALIC.TTF');
@include font('Ubuntu', '../fonts/UBUNTU-LIGHT.TTF');
@include font('Ubuntu', '../fonts/UBUNTU-LIGHTITALIC.TTF');
@include font('Ubuntu', '../fonts/UBUNTU-MEDIUM.TTF');
@include font('Ubuntu', '../fonts/UBUNTU-MEDIUMITALIC.TTF');
@include font('Ubuntu', '../fonts/UBUNTU-REGULAR.TTF');