@import "../../../../../../../styles/constants/index.scss";

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -4.5 * $space;

  @media(max-width: $max-width-small) {
    overflow-x: auto;
    margin: 0;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  min-width: 90%;
}

.card-list {
  @media(max-width: $max-width-small) {
    margin-right: $margin-md;
  }
}

.arrow {
  @media(max-width: $max-width-small) {
    display: none;
  }
}
