@import "../../../styles/constants/index.scss";

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin-top: $margin-lg;
  color: $secondary;
  text-align: center;
}