@import "../../../styles/constants/index.scss";

.main-content {
  align-self: center;
  display: flex;
  flex: 1 0 auto;
  width: min-content;
  margin-top: 7.5 * $space;

  @media(max-width: $max-width-medium) {
    flex-direction: column;
  }

  @media(max-width: $max-width-small) {
    margin: $margin-lg 0 0 0;  
  }
}