@import "./styles/constants/index.scss";

* {
  font-family: 'Ubuntu', sans-serif;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: inherit !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./common/background/forecast-Bg-buttom.png) no-repeat bottom left fixed,
              url(./common/background/forecast-Bg-up-1.png) no-repeat top right fixed,
              $accent;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}